@tailwind base;
@tailwind components;
@tailwind utilities;
@use "../../public/font.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
h2{
    font-size: x-large;
}
body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
  font-size: 18px;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  color: #ff0103 !important;
}
.swiper-pagination-bullet-active {
  background-color: #ff0103 !important;
}
