/* footer +*/
.footer {
  background-color: #fefe00;
  padding: 80px 0;
  color: #808080;
}
.footerLogo {
  text-align: center;
  margin-bottom: 70px;
}
.footerBox {
  margin: 0 auto;
  padding: 0 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  // display: flex;
  // justify-content: space-between;
  // color: #fff;
  gap: 60px;
  font-size: 14px;
  line-height: 130%;
  max-width: 830px;
  padding-bottom: 20px;
}
// .footerInfo {
//   width: 225px;
// }
.footerBoxTitle {
  margin-bottom: 7px;
  font-weight: 500;
}
.footerCopy {
  margin-bottom: 3px;
  opacity: 0.8;
}
.footerLink {
  text-decoration: underline;
  opacity: 0.8;
}
.footerAdressText {
  opacity: 0.8;
}
// .footerContact {
//   width: 210px;
// }
.footerPhone,
.footerMail {
  text-decoration: none;
  color: inherit;
}
.footerPhone {
  opacity: 0.8;
}
.footerMail {
  display: block;
  opacity: 0.8;
}
.footerSocialmedia {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
}
.footerSocialmedia img {
  margin-top: 10px;
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.socialItem {
  font-size: 30px;
  margin-right: 40px;
  color: #ff0103;
}
.socialItem:nth-child(3) {
  margin-right: 0;
}
/* footer -*/
@media only screen and (max-width: 800px) {
  .footerBox {
    gap: 10px;
  }
}
@media only screen and (max-width: 560px) {
  .footerBox {
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
    gap: 22px;
  }
  .footerLogo {
    text-align: center;
    margin-bottom: 20px;
  }
  .socialItem {
    font-size: 26px;
    margin-right: 57px;
  }
  .footer {
    padding: 27px 0;
  }
}
