.container{
  margin-top: 50px;
  margin-bottom: 50px;
}
.h2{
  text-align: center;
  margin-bottom: 50px;
  color: #808080;
}
// .img{
//   max-width: 100%;
// }
.wrap{
  text-align: center;
}
.swiper-button-next { color: red; }